* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}
header {
  width: 100%;
  height: 60px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home,
#cadastro {
  flex-direction: column;
  height: calc(100vh - 85px);
}
#home {
  text-align: center;
}
#receitas {
  align-items: start;
}
#logo {
  height: 50px;
}
.card {
  margin: 25px 10px 50px;
}
h1,
.card-title {
  font-family: "Montez", cursive;
  color: #cc1b1b;
  text-align: center;
}
h5 {
  text-align: center;
}
input[type="checkbox"]:checked {
  background-color: #ff8400;
  border: 1px solid #cc1b1b;
}
.card-text {
  text-align: justify;
}
footer {
  position: fixed;
  display: flex;
  font-size: small;
  color: #ffffff;
  bottom: 0px;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343a40;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}
footer a:hover {
  color: #a1a1aa;
  text-decoration: none;
}
